if SHIELD_SeaGlass_R

config ZMK_KEYBOARD_NAME
    default "SeaGlass_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SeaGlass_L

config ZMK_KEYBOARD_NAME
    default "SeaGlass_L"

config ZMK_SPLIT
    default y

endif
